input[type="file"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="checkbox"],
input[type="new-password"],
.btn,
.btn:focus,
.btn:active {
  box-shadow: none;
  border: none;
  outline: none;
}
input[type="number"] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
