<style>
.vue-joystick {
  display: inline-block;
  background: #6c757d;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: relative;
  border: solid 0px var(--color);
}
.vue-joystick::before,
.vue-joystick::after {
  content: "";
  position: absolute;
}
.vue-joystick::before {
  left: 0;
  right: 0;
  margin: -16px;
  background: var(--color);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transform: translateX(var(--x)) translateY(var(--y));
}
.vue-joystick::after {
  left: 62px;
  bottom: 32px;
  border-radius: 0px;
  width: 0px;
  background: var(--color);
  transform: rotate(var(--angle));
  transform-origin: bottom center;
  height: var(--speed);
}
</style>
<template>
  <div
    class="vue-joystick"
    :style="style"
    @touchmove="handleTouch"
    @mousemove="handleMove"
    @mousedown="handleStart"
    @mouseup="handleRelease"
    @touchend="handleRelease"
  ></div>
</template>
<script>
export default {
  props: {
    color: {
      type: String,
      default: "#FFF"
    }
  },
  data() {
    return {
      x: 0,
      y: 0,
      angle: 0,
      speed: 0,
      isMouseDown: false
    };
  },
  computed: {
    style() {
      return {
        "--x": `${this.x + 32}px`,
        "--y": `${this.y + 32}px`,
        "--speed": `${this.speed}px`,
        "--angle": `${this.angle}deg`,
        "--color": `${this.color}`
      };
    }
  },
  methods: {
    handleStart() {
      this.isMouseDown = true;
    },
    handleTouch({ touches: [touch] }) {
      const { clientX, clientY } = touch;
      const { offsetLeft, offsetTop } = this.$el;
      const x = Math.round(clientX - offsetLeft - 32);
      const y = Math.round(clientY - offsetTop - 32);
      this.updatePosition(x, y);
    },
    handleMove({ clientX, clientY }) {
      if (!this.isMouseDown) {
        return;
      }
      const { offsetLeft, offsetTop } = this.$el;
      const x = Math.round(clientX - offsetLeft - 32);
      const y = Math.round(clientY - offsetTop - 32);
      this.updatePosition(x, y);
    },
    handleRelease() {
      this.emitAll("release");
      this.isMouseDown = false;
      this.updatePosition(0, 0);
    },
    updatePosition(x, y) {
      const offset = 32 - 16;
      const radians = Math.atan2(y, x);
      const angle = Math.round((radians * 180) / Math.PI, 4);
      this.angle = angle + (angle > 90 ? -270 : 90);
      this.speed = Math.min(
        Math.round(Math.sqrt(Math.pow(y, 2) + Math.pow(x, 2))),
        32
      );
      this.x = this.speed > offset ? Math.cos(radians) * offset : x;
      this.y = this.speed >= offset ? Math.sin(radians) * offset : y;
      this.emitAll();
    },
    emitAll(name = "change") {
      this.$emit(name, {
        x: this.x,
        y: this.y,
        speed: this.speed,
        angle: this.angle
      });
    }
  },
  mounted() {
    this.emitAll();
  }
};
</script>
