<script lang="ts">
import { defineComponent } from 'vue';
import JSMpeg from '@cycjimmy/jsmpeg-player';
import './ws-audio-api/ws-audio-api.min';

export default defineComponent({
  name: 'Stream',
  data() {
    return {
      videoStream: undefined as any,
      audioStream: undefined as any,
      audioConfig: {
        codec: {
          sampleRate: 48000,
          channels: 1,
          app: 2051,
          frameDuration: 60,
          bufferSize: 1024,
        },
        server: `wss://${window.location.hostname}/stream/audio/`,
      },
    };
  },
  mounted() {
    this.videoStream = new JSMpeg.VideoElement('#vid', `wss://${window.location.hostname}/stream/video/`);
  },
  methods: {
    startAll() {
      this.videoStart();
      this.audioStart();
    },
    stopAll() {
      this.videoStop();
      this.audioStop();
    },
    videoStart() {
      if (this.videoStream == undefined) {
        this.videoStream = new JSMpeg.VideoElement('#vid', `wss://${window.location.hostname}/stream/video/`);  
      }
    },
    videoStop() {
      if (this.videoStream != undefined) {
        if (this.videoStream != undefined) {
          this.videoStream.destroy();
          this.videoStream = undefined;
        }
      }
    },
    audioStart() {
      if (this.audioStream == undefined) {
        this.audioStream = new WSAudioAPI.Player(this.audioConfig) as any;
        this.audioStream.start();
      }
    },
    audioStop() {
      if (this.audioStream != undefined) {
        this.audioStream.stop();
        this.audioStream = undefined;
      }
    },
  },
})
</script>

<template>
  <div>
    <div class="video-box-container position-relative">
      <div class="video-box-container-overlay position-absolute">
        <div class="stream-buttons position-absolute bottom-0 end-0">
          <button
            type="button"
            class="btn btn-secondary stream-button"
            v-on:click="startAll()">
              Start All Stream
          </button>
          <button
            type="button"
            class="btn btn-secondary stream-button"
            v-on:click="stopAll()">
              Stop All Stream
          </button>
          <button
            type="button"
            class="btn btn-secondary stream-button"
            v-on:click="videoStart()">
              Video On
          </button>
          <button
            type="button"
            class="btn btn-secondary stream-button"
            v-on:click="videoStop()">
              Video Off
          </button>
          <button
            type="button"
            class="btn btn-secondary stream-button"
            v-on:click="audioStart()">
              Audio On
          </button>
          <button
            type="button"
            class="btn btn-secondary stream-button"
            v-on:click="audioStop()">
              Audio Off
          </button>
        </div>
      </div>
      <div id="vid" class="video-box"></div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "../css/disable-input-glow.scss";
.video-box-container {
  // Width for joycons based on real hardware dimension
  $joycon-width: calc(100vw * 0.275);
  width: calc(100vw - $joycon-width);
  height: calc((100vw - $joycon-width) * 9/16);
}
.video-box-container-overlay {
  z-index: 9990;
  width: 100%;
  height: 100%;
}
.video-box {
  width: 100%;
  height: 100%;
}
.stream-button {
  transition: opacity .20s ease-in-out;
  opacity: 0%;
}
.video-box-container-overlay:hover > .stream-buttons > .stream-button {
  opacity: 100%;
}
</style>
