<script lang="ts">
import { defineComponent } from 'vue';
import ControllerVue from '@/components/Controller.vue';

export default defineComponent({
  name: 'Switch',
  components: {
    ControllerVue,
  },
})
</script>

<template>
  <div>
    <Controller-vue
      :enableDisplay="true">
    </Controller-vue>
  </div>
</template>

<style scoped>
</style>