<script lang="ts">
import { defineComponent } from 'vue';
import SwitchVue from '@/components/Switch.vue';

export default defineComponent({
  name: 'home',
  components: {
    SwitchVue,
  }
})
</script>

<template>
  <div>
    <switch-vue></switch-vue>
  </div>
</template>
