<script setup lang="ts">
import { RouterView } from "vue-router";
</script>

<template>
  <div class="bg-primary container-fluid px-0 vh-100">
    <div class="row g-0">
      <router-view class="col vh-100"/>
    </div>
  </div>
</template>
